.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

img {
  width: 40vw;
}

.carousel-control-next,
.carousel-control-prev {
   filter: invert(0%); 
}


.carousel {
  position: relative;
  width: 40vw;
  height: 53.3vh;
  border: solid black;
}

#carouselContainer {
  position: relative;
  border: solid black;
  background-image: url("https://d1e00ek4ebabms.cloudfront.net/production/96638a9e-dc04-479e-9642-25afae9d6721.jpg");
  background-size: 75vw 42.2vw;
  /* left: 12.5vw; */
  margin: 2.5vh 12.5vw;
  width: 75vw;
  height: 42.2vw;
  padding: 0vh 17.5vw;
}