body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#3b3b3b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* PAYMENT */

.paymenttitle {
  font-family:Helvetica;
  color: goldenrod;
}

.paymentform {
  background-color:#005C73;
  width: 90vw;
  margin-left:5vw;
  border-style:double;
  border-width:5px;
  border-radius:15px;
  color:white;
}

#paymentid {
  margin-top:2vmax;
  margin-right:3vw;
}

#cardform {
  color:white;
  margin-top:2vh;
  background-color:#178aa7;
}

#paymentsubmit {
  margin-bottom:2vh;
}

.cardElement {
  color:white;
}